.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h5{
  font-family: 'Spicy Rice', cursive;
  color: #0bb513;
  font-size: 23px;
  background-color: #ae4ebf;
}
hr{
  background-color:#ae4ebf;
  height: 50%;
}
.pic{
  width: 330px;
  height: 430px;
}
.card-text{
  color: #ae4ebf;
  font-family: 'Spicy Rice', cursive;
  font-size: 30px;

}
.Color{
  background-color:#ae4ebf;
  }
.Green{
  background-color:#0bb513;
  height: 50%;
}
p{
  font-family: 'Spicy Rice', cursive;
  }
